*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: hsl(0, 0%, 95%);
  width: 100%;
  height: 100%;
}


/* style are start her */

.container{
  display: grid;
  grid-template-columns: repeat(3, 21rem);
  justify-content: center;
  margin-top: 11rem;
}
.container .orange{
  width: 350px;
  height: 400px;
  background-color: hsl(31, 77%, 52%);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.container .cyan{
  width: 350px;
  height: 400px;
  background-color: hsl(184, 100%, 22%);
}
.container .dark{
  width: 350px;
  height: 400px;
  background-color: hsl(179, 100%, 13%);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.orange img{
  width: 70px;
  height: 50px;
}
.orange .item{
  margin-top:10px ;
  margin-left: 40px;
}
.orange .item img{
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.orange .item h1{
  font-family: 'Big Shoulders Display', cursive;
  font-weight: 700;
  font-size: 2.3rem;
  color: hsl(0, 0%, 95%);
  letter-spacing: 1px;
}
.orange .item p{
  width: 250px;
  margin-top: 1rem;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  line-height: 22px;
  color:hsl(0, 0%, 95%) ;
}
.orange .item button{
  padding: 1rem 1.8rem;
  border-radius: 2rem;
  border: none;
  margin-top: 1.5rem;
  margin-left: 1rem;
  color: hsl(31, 77%, 52%);
}
.orange .item button:hover{
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
}
.cyan img{
  width: 70px;
  height: 50px;
}
.cyan .item{
  margin-top:10px ;
  margin-left: 40px;
}
.cyan .item img{
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.cyan .item h1{
  font-family: 'Big Shoulders Display', cursive;
  font-weight: 700;
  font-size: 2.3rem;
  color: hsl(0, 0%, 95%);
  letter-spacing: 1px;
}
.cyan .item p{
  width: 250px;
  margin-top: 1rem;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  line-height: 22px;
  color:hsl(0, 0%, 95%) ;
}
.cyan .item button{
  padding: 1rem 1.8rem;
  border-radius: 2rem;
  border: none;
  margin-top: 1.5rem;
  margin-left: 1rem;
  color: hsl(184, 100%, 22%);
}
.cyan .item button:hover{
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
}
.dark img{
  width: 70px;
  height: 50px;
}

.dark .item{
  margin-top:10px ;
  margin-left: 40px;
}
.dark .item img{
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.dark .item h1{
  font-family: 'Big Shoulders Display', cursive;
  font-weight: 700;
  font-size: 2.3rem;
  color: hsl(0, 0%, 95%);
  letter-spacing: 1px;
}
.dark .item p{
  width: 250px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  line-height: 24px;
  color:hsl(0, 0%, 95%) ;
}
.dark .item button{
  padding: 1rem 1.8rem;
  border-radius: 2rem;
  border: none;
  margin-top: 1.5rem;
  margin-left: 1rem;
  color: hsl(179, 100%, 13%);
}
.dark .item button:hover{
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
}



/* phone size media query start */

@media only screen and (min-width:375px) and (max-width:776px) {
  .container{
    grid-template-columns: repeat(1, 4rem);
    margin-top: 10px;
    padding-bottom: 30px;
    justify-items: center;
    align-self: center;
  }
  .container .orange{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 0px;
  }
  .container .dark{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
  }
}


/* end */

